<h1 class="text-center">Ruta creada</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Carga</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @map_stops.each do |stop| %>
    <tr>
      <td><%= stop%></td>
      <td><%= stop[:status]%></td>
    </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Cargar ruta', new_path %>